@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 75px);
}
body{
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.button-2{
    padding-left: 1vw;
    /*padding-right: 1vw;*/
}
button{
    font-family: 'Merriweather';
}
.top{
    background: rgba(0, 0, 0, 0.7) url("../img/galary3.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
